/* OpenSans 300 */
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* OpenSans 300 Italic */
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* OpenSans 400 */
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* OpenSans 400 Italic */
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* OpenSans 600 */
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* OpenSans 600 Italic */
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* OpenSans 700 */
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* OpenSans 700 Italic */
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Raleway 300 */
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Raleway 300 Italic */
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Raleway 400 */
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Raleway 400 Italic */
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Raleway 500 */
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Raleway 500 Italic */
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Raleway 600 */
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Raleway 600 Italic */
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Raleway 700 */
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Raleway 700 Italic */
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Poppins 300 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Poppins 300 Italic */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Poppins 400 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Poppins 400 Italic */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Poppins 500 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Poppins 500 Italic */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Poppins 600 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Poppins 600 Italic */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Poppins 700 */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Poppins 700 Italic */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
